@page "/"

<PageTitle>Index</PageTitle>

<h1 class="display-1 text-info">Sensors</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="btn btn-primary">1. Take Measurment</div>
    <div class="btn btn-primary">2. Display Measurments</div>
    <div class="btn btn-primary">3. Delete Measurments</div>
</div>

@*@sens.Value = randNum.Next(MinSensorValue, MaxSensorValue);
*@

@* <img src="imgs/header.jpeg" /> *@
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Display</span>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">

                <div class="container text-center">
                    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                        <div class="col">
                            <div class="p-3 border bg-light">Sensor Data</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2022 Fanis Greenhouse
        </footer>
    </div>
</main>

